<form class="ui form" action = "">
  <div class="field">
    <label>Email</label>
    <input type="text" name="email" placeholder="Email">
  </div>
  <div class="field">
    <label>Phone</label>
    <input type="text" name="phone" placeholder="Phone">
  </div>
  <button class="ui primary button" type="submit">Save</button>
</form>